---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "GT Pressura", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #58595b;
$background-color: #fdfdfd;
$yellow-color:     #fff46d;
$brand-color:      $yellow-color;

$blue-color:       #53b6e7;

$grey-color:       #929497;
$grey-color-light: #d0d2d3;
$grey-color-dark:  #58595b;
$white-color:      #fff;

// Width of the content area
$content-width:    1166px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}
/* GT Pressura Web Light */

@font-face {
    font-family: 'GT Pressura';
    src: url('../fonts/gt-pressura-light-web.eot');
    src: url('../fonts/gt-pressura-light-web.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gt-pressura-light-web.woff') format('woff'),
         url('../fonts/gt-pressura-light-web.ttf') format('truetype'),
         url('../fonts/gt-pressura-light-web.svg#gt_pressura_regular') format('svg');
    font-weight: 100; // lighter
    font-style: normal;
}


/* GT Pressura Web Regular */

@font-face {
    font-family: 'GT Pressura';
    src: url('../fonts/gt-pressura-regular-web.eot');
    src: url('../fonts/gt-pressura-regular-web.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gt-pressura-regular-web.woff') format('woff'),
         url('../fonts/gt-pressura-regular-web.ttf') format('truetype'),
         url('../fonts/gt-pressura-regular-web.svg#gt_pressura_regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* GT Pressura Web Bold */

@font-face {
    font-family: 'GT Pressura';
    src: url('../fonts/gt-pressura-bold-web.eot');
    src: url('../fonts/gt-pressura-bold-web.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gt-pressura-bold-web.woff') format('woff'),
         url('../fonts/gt-pressura-bold-web.ttf') format('truetype'),
         url('../fonts/gt-pressura-bold-web.svg#gt_pressura_bold') format('svg');
    font-weight: bold;
    font-style: normal;
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
