<footer class="site-footer">
  <div class="wrapper">

    <div class="footer-col-wrapper">
      <ul class="contact-list">
        <li>
          <a class="contact-facebook" href="https://facebook.com/properlybr">
            facebook.com/properlybr
          </a>
        </li>
        <li>
          <a class="contact-email" href="mailto:{{ site.email }}">
            {{ site.email }}
          </a>
        </li>
      </ul>


<svg class="properly-symbol" xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 27 27">
  <defs>
    <style>
      .cls-1 {
        fill: #fff46d;
      }

      .cls-1, .cls-2 {
        fill-rule: evenodd;
      }

      .cls-2 {
        fill: #58595b;
      }
    </style>
  </defs>
  <path class="cls-1" d="M1246,3971h-27v-27h27v27Z" transform="translate(-1219 -3944)"/>
  <path class="cls-2" d="M1241,3962.28a6.3,6.3,0,0,1-1.39-.15,8.426,8.426,0,1,0-15.47-4.63v3.33a1.656,1.656,0,0,1-1.66,1.66v3.32a4.963,4.963,0,0,0,4.2-2.29,8.436,8.436,0,0,0,10.23,1.2,9.658,9.658,0,0,0,4.09.88h1.66v-3.32H1241Zm-3.33-4.78a5.122,5.122,0,0,1-1.02,3.07c-1.71-1.65-2.7-4.41-2.76-7.99A5.088,5.088,0,0,1,1237.67,3957.5Zm-10.2,0a5.093,5.093,0,0,1,3.09-4.68,15.145,15.145,0,0,0,2.91,9.19c0.12,0.15.24,0.29,0.36,0.43a5.177,5.177,0,0,1-1.26.15A5.1,5.1,0,0,1,1227.47,3957.5Z" transform="translate(-1219 -3944)"/>
</svg>

    </div>
  </div>
</footer>
