.clients {
  padding-bottom: 6rem;
}

.clients-list {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  margin: 0 -1rem;
}

.client {
  align-items: center;
  display: flex;
  padding: 1rem 1rem 3rem;

  >svg {
    height: auto;
    max-width: 12rem;
  }

  &--vfsol>svg {
    margin-right: 1rem;
    max-width: 7rem;
  }

  &--gos>svg {
    max-width: 6rem;
  }

  &--vegas>svg {
    max-width: 10rem;
  }
}
