.site-footer {
  background-color: $grey-color;
  padding-bottom: 75px;
  padding-top: 80px;
}


.contact-list {
  float: left;
  list-style-type: none;
  margin: 0;

  li {
    display: inline-block;
    margin-right: 20px;
  }

  a {
    display: inline-block;
    height: 27px;
    overflow: hidden;
    text-indent: 100%;
    width: 27px;
  }
}

.contact-facebook {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10.406" height="20.06" viewBox="0 0 10.406 20.06"> <defs> <style> .cls-1 {fill: #fff; fill-rule: evenodd;} </style> </defs> <path id="facebook-icon.svg" class="cls-1" d="M119.922,3967.28v-9.15h-3.078v-3.56h3.078v-2.63c0-3.05,1.864-4.71,4.585-4.71a23.618,23.618,0,0,1,2.751.14v3.19H125.37c-1.48,0-1.766.7-1.766,1.73v2.28h3.53l-0.46,3.56H123.6v9.15" transform="translate(-116.844 -3947.22)"/> </svg>') no-repeat center center;
}

.contact-email {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="22" height="17.29" viewBox="0 0 22 17.29"> <defs> <style> .cls-1 {fill: #fff; fill-rule: evenodd;} </style> </defs> <path id="envelope-icon.svg" class="cls-1" d="M191.785,3964.71a0.374,0.374,0,0,1-.277.12H173.437a0.37,0.37,0,0,1-.276-0.12,0.378,0.378,0,0,1-.117-0.27v-9.43a8.008,8.008,0,0,0,.847.81c2.194,1.68,3.937,3.07,5.23,4.15,0.418,0.35.757,0.62,1.019,0.82a5.469,5.469,0,0,0,1.062.59,2.956,2.956,0,0,0,1.258.31h0.025a2.952,2.952,0,0,0,1.258-.31,5.469,5.469,0,0,0,1.062-.59c0.262-.2.6-0.47,1.019-0.82,1.293-1.08,3.037-2.47,5.23-4.15a8.008,8.008,0,0,0,.847-0.81v9.43A0.38,0.38,0,0,1,191.785,3964.71Zm-0.455-11.56a5.735,5.735,0,0,1-1.233,1.41q-2.37,1.875-4.923,3.9-0.075.06-.43,0.36c-0.238.2-.426,0.35-0.565,0.46s-0.321.23-.546,0.39a3.082,3.082,0,0,1-.62.33,1.334,1.334,0,0,1-.528.11H182.46a1.337,1.337,0,0,1-.528-0.11,3.108,3.108,0,0,1-.62-0.33c-0.225-.16-0.407-0.28-0.546-0.39s-0.327-.26-0.565-0.46-0.38-.32-0.429-0.36l-4.923-3.9a4.28,4.28,0,0,1-1.8-3.48,0.383,0.383,0,0,1,.117-0.28,0.36,0.36,0,0,1,.276-0.11h18.071a0.452,0.452,0,0,1,.172.03,0.228,0.228,0,0,1,.111.09c0.024,0.04.047,0.08,0.067,0.11a0.3,0.3,0,0,1,.037.15c0,0.07.006,0.12,0.006,0.16v0.3A3.078,3.078,0,0,1,191.33,3953.15Zm1.566-3.46a1.913,1.913,0,0,0-1.388-.58H173.437a1.975,1.975,0,0,0-1.964,1.97v13.36a1.975,1.975,0,0,0,1.964,1.96h18.071a1.975,1.975,0,0,0,1.965-1.96v-13.36A1.909,1.909,0,0,0,192.9,3949.69Z" transform="translate(-171.469 -3949.12)"/> </svg>') no-repeat center center;
}

.properly-symbol {
  float: right;
  list-style-type: none;
  margin: 0;
}
